body{
	margin: 0;
	padding: 0;
	font-family: poppins;
	height: 100vh;
}
.wrapperino{
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
}
.wrapperino h1x{
	padding: 0;
	margin: 0;
	color: #000;
	text-shadow:0 2px 0 rgba(0,0,0,0.5);
	font-size: 60px;
}
.wrapper p{
	color: #000;
	font-size: 18px;
	margin: 0;
	line-height: 35px;
}
spanx:before{
	content: 'for fucks sake.';
	animation: animate infinite 10s;
}
@keyframes animate{
	0%{content: 'CycleDistrict.';}
	10%{content: 'fast.';}
	20%{content: 'free.';}
	30%{content: 'trashy.';}
	40%{content: 'CycleDistrict.';}
	100%{content: 'CycleDistrict.';}
}
